
.sideNav{
    height:100vh;
    background-color: #fff;
}
.content{
    width:100%;
    height:100vh;
    background-color:#fff;
    animation-duration: 500ms;
}
.tab{
    clear: both;
}
.tab .tabs{
    background-color: #fff;
    border-top:1px solid rgba(84, 110, 122, 0.1);
    border-bottom:1px solid rgba(84,110,122,.1);
}
.userInfo{
    margin:20px auto;
    width:fit-content;
    overflow: hidden;
}
.userInfo .avatar{
    width:35px;
    height:35px;
    float:left;
}
.userInfo .name{
    margin-left:10px;
    line-height: 35px;
    display: inline;
}