.chat{
    height:100%
}
.topBar{
    border-bottom:1px solid rgba(96,125,139,.3);
}
.chat .userInfo{
    margin:20px auto;
    width:fit-content;
    overflow: hidden;
}
.chat .userInfo .avatar{
    width:35px;
    height:35px;
    float:left;
}
.chat .userInfo .name{
    margin-left:10px;
    line-height: 35px;
    display: inline;
}