#chat{
    padding-top:10px
}
.chatItem{
    padding:10px 20px 10px 20px;
    cursor: pointer;
    transition:background-color .2s;
}
.chatItem:hover{
    background-color:rgba(33,150,243,.1);
}
.avatar{
    float:left;
    width:40px;
    height:40px;
}
.rightItem{
    margin-left:50px;
    border-bottom:1px solid #e0e0e0;
    overflow: hidden;
    padding-bottom: 10px;
}
.friends .rightItem{
    padding-bottom: 5px;
}
.name{
    font-weight: bold !important;
    float:left;
}
.friends .name{
    display: inline;
    line-height: 40px;
}
.time{
    float:right;
    font-size:0.6rem !important;
}
.lately{
    width:100%;
    float:right;
    margin:0 !important;
    font-size: 0.5rem !important;
    color:#757575;
}