.chat{
    height:100%;
    background-color: rgba(96,125,139,0.2);
}
.topBar{
    padding:20px 5px;
    border-bottom:1px solid rgba(96,125,139,.1);
}
.chat .userInfo{
    margin:0 auto;
    width:fit-content;
    overflow: hidden;
}
.chat .userInfo .avatar{
    width:35px;
    height:35px;
    float:left;
}
.chat .userInfo .name{
    margin-left:10px;
    line-height: 35px;
    display: inline;
}