.sendChat{
   
    width:100% !important;
    height:250px;
}
.sendChat .textArea{
    height:50%;
    margin:10px 20px;
    overflow: auto
}
.sendChat .text{
    max-height:100%;
    overflow: auto;
    font-size:1.2rem;
}
.sendChat .MuiInput-underline:before{
    border:none !important;
}
.sendChat .MuiInput-underline:after{
    border:none !important;
}
.sendChat .sendButton{
    height:10%;
    float:right;
    margin-right:20px;
}
.sendChat .toolbar{
    height: 10%;
    padding:5px 10px
}
.sendChat .toolbar .icon{
    position: relative;
    margin:0 5px;
}
.sendChat .toolbar .icon:hover{
    opacity:0.7;
}
#emojContainer{
    padding:20px;
    max-width: 100px;
    max-height: 400px;
    word-wrap: break-word; 
    word-break: normal; 
    overflow: auto;
}