#chatList{
    /* padding:5px; */
    -webkit-user-select: none;  
    -moz-user-select:none;  
    -o-user-select:none;  
    -ms-user-select:none;
}
#chatList .chatItemBox{
    width:100%;
    float:left;
    background-color: #fff !important;
    position: relative;
    padding:0;
}
#chatList .avatar{
    width:43px;
    height:43px;
}
.chatItem{
    padding:10px 20px 0 20px;
    cursor: pointer;
    transition:background-color .3s !important;
    /* margin-bottom:5px; */
    background-color: #fff;
}
.chatItem:hover{
    background-color:rgba(33,150,243,.1);
}
.chatSelcted{
    background-color:rgba(33,150,243,.1) !important;
}
.rightItem{
    margin-left:50px;
    overflow: hidden;
    padding-bottom: 10px;
}

.name{
    font-weight: bold !important;
    float:left;
}
.friends .name{
    display: inline;
    line-height: 40px;
}
.time{
    float:right;
    font-size:0.8rem !important;
    color:#757575;
}
.lately{
    width:100%;
    float:right;
    margin:0 !important;
    font-size: 0.8rem !important;
    color:#757575;
}

#chatList .deleteBox{
    padding:5px;
    width: 100%;
    position: absolute;   
    border-radius: 5px;
}
.deleteBox .deleteBtn{
    float:right;
    display:inline-block;
    line-height:40px;
    margin-right:20px;
    color:#fff;
    background-color: red;
}