#friendList{
    overflow: auto;
}
#friendList .rightItem .name{
    font-weight: bold ;
    float:left;
}
#friendList .descText{
    width:100%;
    float:right;
    margin:0 !important;
    font-size: 0.8rem !important;
    color:#757575;
}
#friendList .avatar{
    width:43px;
    height:43px;
}

#friendList .newFriendItem{
    width:100%;
    overflow: hidden;
    height:40px;
    padding:10px 20px;
}
#friendList .newFriendItem:hover{
    background-color:rgba(33,150,243,.1);
}
#friendList .newFriendItem .iconBox{
    width:45px;
    height:45px;
    float:left;
    background-color: #F57C00;
    margin-right: 5px;
}
#friendList .newFriendItem .iconBox .icon{
    color:#fff
}
#friendList .newFriendItem .text{
    line-height: 40px;
    font-weight: bold;
    color:#454545;
    font-size: 0.9rem;
}